name: Test

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Follow package.json engine field
        node-version: ["12", "14", "16", "17", "18"]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          cache: "yarn"
          cache-dependency-path: yarn.lock
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn

      - name: Test
        run: yarn test
